

.nupp {
  background-color: #04AA6D; /* Green */
  border: none;
  color: rgb(186, 185, 185);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nupp:hover {
  height: 100px;
}

.nupp:active {
  cursor: grab;
}

.tekst1 {
  color: blue;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
}

.tekst1:hover {
  font-size: 24px;
}

.tekst2 {
  color: green;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px red;
}

.tekst2:hover {
  -webkit-text-stroke: 1.5px rgb(70, 46, 8);
}

.pilt {
  justify-content: right;
  height: 200px;
}

.pilt:hover {
  opacity: 70%;
  border-radius: 5mm;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
